.header
  .header__content
    グループを作成しました

.contents
  .contents__left
    .left__header
      .name
        KAZUKI
        .icon
          = fa_icon 'edit' 
          = fa_icon 'cog'
      
        
    .left__body
      .content-first
        %p.group_name sample
        %p.group_message Good bye work

      .content-second
        %p.group_name sample2
        %p.group_message Good bye work2
      
    

  .contents__right
    .right__header
      .left-box
        .name
          %p sample

        .member
          %p Member : ayaka
      .edit-btn
        Edit
        
      
    .right__body
      .body-first 
        .title
          .name
            YUTO
          .date
            2019/10/17 15:41:45
        .text
          こんにちは

      .body-second 
        .title
          .name
            AYAKA
          .date
            2019/10/17 15:41:45
        .text
          ありがとう
    .right__footer
      %form
        %input.send-message{:type=>"text", :placeholder=>"type a message" }
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
          %input{:type=>"file", :style=>"display:none", :id=>"upload-icon"}
      .send-btn
        Send
      