.header
  .header__content
    グループを作成しました

.contents
  .contents__left
    .left__header
      .name
        KAZUKI
        = fa_icon 'edit' 
        = fa_icon 'cog'
      
        
    .left__body
      .content-first
        %p.group_name sample
        %p.group_message Good by work
      
    

  .contents__right
    .right__header
      
      
    .right__body
    .right__footer