.header
  .header__logo
    グループを作成しました

.contents
  .contentLeft
    .leftHeader
      .leftHeader__name
        KAZUKI
        .leftHeader__icon
          = link_to "#", class: "edit_icon" do
            = fa_icon 'edit' 
          = link_to "#", class: "cog_icon" do
            = fa_icon 'cog'
      
        
    .leftBody
      .leftBody__first
        .group_name sample
        .group_message Good bye work

      .leftBody__second
        .group_name sample2
        .group_message Good bye work2
      
    

  .contents__right
    .rightHeader
      .rightHeader__leftBox
        .rightHeader__name
          sample

        .rightHeader__member
          Member : ayaka
      .rightHeader__edit-btn
        Edit
        
      
    .rightBody
      .rightBody__first 
        .rightBody__title
          .rightBody__name
            YUTO
          .rightBody__date
            2019/10/17 15:41:45
        .rightBody__text
          こんにちは

      .rightBody__second
        .rightBody__title
          .rightBody__name
            AYAKA
          .rightBody__date
            2019/10/17 15:41:45
        .rightBody__text
          ありがとう
    .rightFooter
      %form
        %input.send-message{:type=>"text", :placeholder=>"type a message" }
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
          %input{:type=>"file", :style=>"display:none", :id=>"upload-icon"}
      .rightFooter__send-btn
        Send
      