.header {
  width: 100%;
  height: 30px;
  background-color: #38aef0;
    &__logo {
      color: #ffffff;
      line-height: 30px;
      text-align: center;
    }
}

.contents {
  display: flex;
}
.contentLeft {
  width: 300px;
  .leftHeader {
    height: 100px;
    background-color: #253141;
    padding: 0 20px 0;
      &__name {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        line-height: 100px;
        position: relative;
        .leftHeader__icon {
            position: absolute;
            top: 0;
            right: 0px;
              .edit_icon, .cog_icon {
                text-decoration: none;
                color: #fff;
              }
          }
      }
      
  }

  .leftBody {
    background-color: #2f3e51;
    height: 100vh;
    padding: 0 20px 0;
      &__first {
        padding-top: 20px;
        margin-bottom: 40px;
      }
      &__first,&__second {
          .group_name {
              font-size: 15px;
              color: #ffffff;
              font-weight: bold;
              margin-bottom: 5px;
            }
          .group_message {
              font-size: 11px;
              font-weight: bold;
              color: #ffffff;
            }
      }
  }
}

.contents__right {
  width: calc(100% - 300px);
  
  .rightHeader {
    height: 99px;
    padding: 0 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
      &__leftBox {
        .rightHeader__name {
          font-size: 20px;
          color: #333333;
          margin: 35px 0 15px;
        }
        .rightHeader__member {
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit-btn {
        height: 40px;
        margin-top: 28px;
        padding: 0 20px 0;
        line-height: 40px;
        color: #38aef0;
        border: 1px solid #38aef0;
      }

      
  }
  .rightBody {
    height: calc(100vh - 100px);
    background-color: #fafafa;
    padding: 0 40px 0;
      &__first {
        padding-top: 46px;
        margin-bottom: 40px;
      }
      &__first, &__second {
        .rightBody__title {
          display: flex;
          margin-bottom: 10px;
            .rightBody__name {
              font-size: 16px;
              font-weight: bold;
              color: #434A54;
              margin-right: 10px;
            }
            .rightBody__date {
                font-size: 12px;
                color: #999999;
            }
        }
        .rightBody__text {
          font-size: 14px;
          color: #434A54;
        }
        
      }
  }
  .rightFooter {
    height: 100px;
    padding: 0 40px 0;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
      form {
        width: calc(100% - 100px);
        position: relative;
          .send-message {
            width: 100%;
            height: 50px;
            background-color: #fff;
            font-size: 16px;
            position: relative;
          }
          .send-message::placeholder {
            color: #434A54;
            padding-left: 10px;
          }
          .upload-label {
            i.fa.fa-picture-o {
              position: absolute;
              top: 19px;
              right: 10px;
            }
          }
      }

      &__send-btn {
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        margin-left: 15px;
        color: #fff;
        line-height: 50px;
        text-align: center;
      }
        
      
  }
}